ul, li {
  list-style: none;
}
html {
  background-color: #f1f1f1;
}
body {
  background-color: #f1f1f1;
}
.container {
  display: flex;
  max-width: 1580px;
  margin: 0 auto;
  background-color: #f1f1f1;

  .sidebar {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    animation: display 0.3s linear;

    h1 {
      font-weight: bold;
    }

    > p {
      color: gray;
      font-size: 14px;
      padding: 10px 0px;
    }

    img {
      width: 75px;
      height: 75px;
      object-fit: cover;
    }

    > a {
      color: black;
      text-decoration: none;
      font-size: 14px;
      padding: 10px 0;

      &.checked {
        color: rgb(59, 156, 156);
      }

      &:hover {
        background-color: rgba(128, 128, 128, 0.541);
      }
    }

    > a > i {
      padding-right: 12px;
    }

    .link-wrapper{

      > i {
        &:hover {
          opacity: 0.4;
        }
      }
    }
  }

  @keyframes display {
    0% {transform: translateX(-100%);}
    100% {transform: translateX(0);}
  }

  .main-wrapper {
    width: 100%;
    .item-wrapper {
      max-width: 95%;
      margin: 0 auto;
      padding: 10px 0;

      > h1 {
        font-size: 30px;
        margin-bottom: 30px;
      }

      .filter-wrapper {
        display: flex;
        align-items: center;
        padding-bottom: 25px;
        border-bottom: 5px solid rgba(128, 128, 128, 0.171);
        
        > p {
          margin-right: 15px;
          padding: 7px 16px;
        }

        span {
          padding: 7px 16px;
          background-color: white;
          display: flex;
          align-items: center;
          justify-content: center;

          &:not(:first-of-type) {
            margin-left: 3px;
          }

          &.checked {
            background-color: #000;
            color: #fff;
          }

          > i {
            margin-right: 10px;
          }

        }
      }

      .img-wrapper {
        margin-top: 15px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 10px;

        > div {
          width: 32.3%;
          flex: 1 1 auto;
          background-color: #fff;

          > div {
            padding: 10px;

            h1 {
              font-size: 14px;
              font-weight: bold;
            }
  
            p {
              font-size: 13px;
              line-height: 18px;
            }
          }

          > img {
            width: 100%;
          }
        }
      }
      .index-wrapper {
        display: flex;
        padding: 30px 0;
        justify-content: center;
        align-items: center;

        > p {
          padding: 7px 10px;
          cursor: pointer;
          
          &:hover {
            background-color: #000;
            color: #fff;
          }

          &.checked {
            background-color: #000;
            color: #fff;
          }
        }
      }

      .about-wrapper {
        .about-img-wrapper {
          display: flex;
          width: 100%;
          gap: 10px;

          > img {
            width: 100%;
          }
        }

        .about-text-wrapper {
          padding: 30px 0;
          h1 {
            font-size: 20px;
            margin-bottom: 15px;
          }

          p {
            font-size: 14px;
            line-height: 20px;
          }
        }

        .about-skill-wrapper {
          > div {
            margin: 15px 0;

            &:first-of-type > div > span {
              width: 95%;
            }
            &:nth-of-type(2) > div > span {
              width: 85%;
            }
            &:nth-of-type(3) > div > span {
              width: 80%;
            }

            > div {
              width: 100%;
              background-color: #9e9e9e;

              span:first-of-type {
                background-color: #616161;
                display: block;
                text-align: center;
                padding: 8px 0;
                margin: 10px 0;
                color: #fff;
                font-size: 13px;
              }
            }
          }

          button {
            border: none;
            padding: 10px 20px;
            color: #fff;
            background-color: #616161;
            margin: 10px 0;

            > i {
              margin-right: 13px;
            }
          }
        }
      }

      .charge-wrapper {
        margin-top: 50px;
        width: 100%;

        > h1 {
          font-size: 16px;
          margin-bottom: 15px;
        }

        .grade-wrapper {
          width: 100%;
          display: flex;
          gap: 10px;
          justify-content: space-around;

          > div {
            width: 33%;
            text-align: center;
            > h1 {
              background-color: #606060;
              color: #fff;
              padding: 24px 0;
              font-size: 24px;

              &.checked {
                background-color:#60bab1;
              }
            }

            > p {
              background-color: #fff;
              border: 1px solid rgba(128, 128, 128, 0.05);
              padding: 10px 0;
              font-size: 12px;
              color: #606060;
            }

            > div {
              background-color: #fff;
              border: 1px solid rgba(128, 128, 128, 0.05);
              padding: 10px 0;
              font-size: 12px;
              color: #606060;

              > p:first-of-type {
                font-size: 18px;
                margin-bottom: 10px;
              }
            }

            button {
              margin: 15px 0;
              border: none;
              padding: 7px 14px;
              color: white;
              background-color: #60bab1;
            }
          }
        }
      }
    }

    .contact-wrapper {
      padding: 15px;
      background-color: #9e9e9e;
      max-width: 100%;

      h1 {
        padding-bottom: 15px;
      }

      > div:first-of-type {
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        text-align: center;
        color: #fff;

        > div {
          width: 33%;
          background-color: #616161;
          padding: 15px 0;

          &:nth-of-type(2) {
            background-color: #009688;
          }

          i {
            font-size: 24px;
            margin-bottom: 15px;
          }

          p {
            font-size: 12px;
          }
        }
      }

      #line {
        color: rgba(255, 255, 255, 0.384);
        margin: 30px 0;
      }

      #line~div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        p {
          font-size: 12px;
          color: black;
        }
      }

      input {
        width: 100%;
        margin: 10px 0;
        padding: 5px 0;
      }

      #line ~ button {
        padding: 5px 10px;
        color: #fff;
        background-color: #000;
        border: none;

        i {
          margin-right: 10px;
        }
      }
    }
  }

  footer {
    color: #fff;
    width: 100%;
    h1 {
      font-size: 20px;
      margin-bottom: 20px;
    }

    p {
      font-size: 14px;
    }
    > div:first-child {
      background-color: #616161;
      display: flex;
      gap: 30px;
      padding: 30px 20px;

      > div:first-child {
        p {
          font-size: 12px;
          margin-bottom: 15px;
        }

        a {
          color: white;
        }
      }
    }

    > div {
      max-width: 100%;

      > div {
        width: 33%;
        }
      }
      img {
        width: 40px;
        height: 40px;
        object-fit: cover;
      }

      .blog-wrapper {
        display: flex;
        gap: 15px;
        align-items: center;

        p:first-child {
          margin-bottom: 5px;
        }
      }

      .popular-wrapper {

        h1 {
          margin-bottom: 15px;
        }
        div {
          display: flex;
          flex-wrap: wrap;
          gap: 3px;
          > p {
            font-size: 10px;
            padding: 2px 6px;
            background-color: #9e9e9e;
            margin-bottom: 10px;
            color: black;

            &.checked {
              background-color: #000;
              color: white;
            }
          }
        }
      }

      .footer-link {
        width: 100%;
        background-color: #000;
        padding: 30px 0;
        text-align: center;

        a {
          color: #fff;
        }
      }
    }
  }

@media (max-width:946px)  {
  .sidebar {
    display: none !important;
  }
}

@media (max-width:678px) {
  .img-wrapper {
    > div {
      max-width: 32%;
    }
  }
}

@media (max-width:570px) {
  .img-wrapper {
    > div {
      min-width: 100%;
    }
  }

  .about-img-wrapper {
    flex-wrap: wrap;
  }

  .grade-wrapper {
    flex-wrap: wrap;

    > div {
      width: 100%;
      flex: 1 1 auto;
    }
  }

  .filter-wrapper {

    > span:not(:first-of-type) {
      p {
        display: none;
      }

      &:hover {
        p {
          display: block;
        }
      }
    }
  }
}